html,
body{
    height: 100%;
    width: 100%;
    display: table;
    margin: 0;
}

.wrapper{
    height: auto;
    padding-bottom : 20px;
}

.row{
    margin: 10px 0 10px 50px;
}

.table-responsive{
    padding-right: 50px;
}

#footer{
    display: table-row;
    height: 1px;
}

#conteneurFooter{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #858585;
}